body {
  margin: 0;
  background-color: rgb(237, 237, 237);
}

.navbar {
  border-bottom: 5px solid white;
  display: flex;
  width: 100%;
  background-color: antiquewhite;
  position: sticky;
  top: 0;
  z-index: 1;
}
.navbar .company {
  margin-top: 2px;
  min-width: 80px;
  max-width: 80px;
  min-height: 30px;
  max-height: 30px;
  border: 3px solid white;
  margin-left: 25px;
  padding: 5px;
  border-radius: 20px;
  background-color: crimson;
}
.navbar .company a {
  text-decoration: none;
  color: antiquewhite;
  font-size: 18px;
  font-weight: 800;
  padding: 5px;
  padding-left: 15px;
}
.navbar div {
  display: inline-flex;
}
.navbar .nav {
  margin-left: 50px;
  margin-right: 0;
  width: 85%;
  display: flex;
}
.navbar .nav ul {
  list-style-type: none;
  padding: 0;
}
.navbar .nav ul li {
  position: static;
  display: inline-block;
}
.navbar .nav ul li a {
  text-decoration: none;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 16px;
  font-weight: 400;
  color: rgb(105, 0, 0);
}
.navbar .nav ul li .nav-item:hover {
  color: rgb(0, 0, 0);
  text-decoration: underline;
}
.navbar .nav .nav1 {
  flex: 5;
}
.navbar .nav .nav2 .gopremium {
  padding-top: 5px;
  padding-bottom: 6px;
  background-color: rgb(255, 213, 150);
  border: 3px solid rgb(118, 0, 0);
  border-radius: 25px;
  color: rgb(125, 0, 0);
  font-weight: 800;
}
.navbar .nav .nav2 .gopremium:hover {
  color: white;
  background-color: rgb(106, 63, 0);
  border: 3px solid rgb(255, 255, 255);
}

.main {
  width: 80%;
  position: relative;
  margin: auto;
  display: flex;
  padding-top: 25px;
  padding-bottom: 10px;
  border-bottom: 5px solid rgb(0, 0, 0);
}
.main .main-image img {
  width: 450px;
  margin-top: 40px;
  margin-right: 10px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 30px;
}
.main .main-para {
  padding: 20px;
}
.main .main-para button {
  width: 150px;
  padding: 10px;
  border: 2px solid rgb(75, 75, 75);
  border-radius: 6px;
  font-weight: 700;
  color: rgb(75, 75, 75);
}
.main .main-para button:hover {
  color: white;
  background-color: rgb(106, 63, 0);
  border: 3px solid rgb(255, 255, 255);
}

.features {
  width: 90%;
  position: relative;
  margin: auto;
  display: flex;
  padding: 15px;
}
.features .para {
  padding-left: 30px;
  padding-right: 30px;
  flex: 3;
  text-align: justify;
}
.features .para h3 {
  text-align: center;
}
.features .para button {
  padding: 7px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 500;
  width: 80px;
}
.features .para button:hover {
  border-color: chocolate;
  font-weight: 600;
  color: chocolate;
}

.footer-info {
  width: 100%;
  margin-top: 25px;
  height: 350px;
  background-color: chocolate;
}

.footer-content {
  position: relative;
  display: flex;
  height: 350px;
}
.footer-content .help {
  flex-direction: row;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  flex: 5;
}
.footer-content .contact {
  flex-direction: row;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  flex: 5;
  border-left: 2px solid black;
}
.footer-content .contact a {
  text-decoration: none;
  font-size: 18px;
  color: rgb(228, 228, 228);
}
.footer-content .contact a:hover {
  color: rgb(0, 0, 0);
}
.footer-content .contact img {
  width: 25px;
  position: relative;
  top: 5px;
  margin-right: 10px;
  margin-top: 3px;
}

.footer-end {
  margin: 0;
  padding: 5px;
  background-color: rgb(75, 52, 35);
}
.footer-end .copyright p {
  color: rgb(214, 167, 108);
  text-align: center;
}
.footer-end .copyright p a {
  text-decoration: none;
  padding-top: 5px;
  color: beige;
}
.footer-end .copyright p a:hover {
  color: rgb(145, 145, 145);
}/*# sourceMappingURL=style.css.map */