body {
  margin: 0;
  background-color: #ededed;
}

.navbar {
  border-bottom: 5px solid white;
  display: flex;
  width: 100%;
  background-color: antiquewhite;
  position: sticky;
  top: 0;
}
.navbar .company {
  margin-top: 2px;
  min-width: 80px;
  max-width: 80px;
  min-height: 30px;
  max-height: 30px;
  border: 3px solid white;
  margin-left: 25px;
  padding: 5px;
  border-radius: 20px;
  background-color: crimson;
}
.navbar .company a {
  text-decoration: none;
  color: antiquewhite;
  font-size: 18px;
  font-weight: 800;
  padding: 5px;
  padding-left: 15px;
}
.navbar div {
  display: inline-flex;
}
.navbar .nav {
  margin-left: 50px;
  margin-right: 0;
  width: 85%;
  display: flex;
}
.navbar .nav ul {
  list-style-type: none;
  padding: 0;
}
.navbar .nav ul li {
  position: static;
  display: inline-block;
}
.navbar .nav ul li a {
  text-decoration: none;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 16px;
  font-weight: 400;
  color: #690000;
}
.navbar .nav ul li .nav-item:hover {
  color: black;
  text-decoration: underline;
}
.navbar .nav .nav1 {
  flex: 5;
}
.navbar .nav .nav2 .gopremium {
  padding-top: 5px;
  padding-bottom: 6px;
  background-color: #ffd596;
  border: 3px solid #760000;
  border-radius: 25px;
  color: #7d0000;
  font-weight: 800;
}
.navbar .nav .nav2 .gopremium:hover {
  color: white;
  background-color: #6a3f00;
  border: 3px solid white;
}

.main {
  width: 80%;
  position: relative;
  margin: auto;
  display: flex;
  padding-top: 25px;
  padding-bottom: 10px;
  border-bottom: 5px solid black;
  z-index: -1;
}
.main .main-image img {
  width: 450px;
  margin-top: 40px;
  margin-right: 10px;
  border: 1px solid white;
  border-radius: 30px;
}
.main .main-para {
  padding: 20px;
}

.features {
  width: 90%;
  position: relative;
  margin: auto;
  display: flex;
  z-index: -1;
  padding: 15px;
}
.features .para {
  padding-left: 30px;
  padding-right: 30px;
  flex: 3;
  text-align: justify;
}
.features .para h3 {
  text-align: center;
}

.footer-info {
  width: 100%;
  margin-top: 25px;
  height: 350px;
  background-color: chocolate;
}

.footer-content {
  position: relative;
  display: flex;
  height: 350px;
}
.footer-content .help {
  flex-direction: row;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  flex: 5;
}
.footer-content .contact {
  flex-direction: row;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  flex: 5;
  border-left: 2px solid black;
}
.footer-content .contact a {
  text-decoration: none;
  font-size: 18px;
  color: #e4e4e4;
}
.footer-content .contact a:hover {
  color: black;
}
.footer-content .contact img {
  width: 25px;
  position: relative;
  top: 5px;
  margin-right: 10px;
  margin-top: 3px;
}

.footer-end {
  margin: 0;
  padding: 5px;
  background-color: #4b3423;
}
.footer-end .copyright p {
  color: #d6a76c;
  text-align: center;
}
.footer-end .copyright p a {
  text-decoration: none;
  padding-top: 5px;
  color: beige;
}
.footer-end .copyright p a:hover {
  color: #919191;
}

/*# sourceMappingURL=style.css.map */
